.bg_box{
	height: 800px;
	width: 100%;
    background-image: url(takeoff.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
img{
	height: 200px;
	width: 30%;
	animation-name: aeroplane;
	position: relative;
	animation-duration: 10s;
}
@keyframes aeroplane{
	0%{
		top:380px;
		left: 100%;
	}
	50%{
		top: 380px;
		left: 50%;
		transform: rotate(0deg);
		transition-timing-function: ease-in-out;
	}
	100%{
		transform: rotate(45deg);
		top: 0px;
		left: 0px;
	}
}