/*h1{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 200px;
	letter-spacing: 4px;
}
.back-button{
	width: 10%;
	height: 30px;
	background-color: palegreen;
	float:left;
	font-size: 20px;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.next-button{
	width: 10%;
	background-color: palegreen;
	font-size: 20px;
	float: left;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 30px;
}
*/
.button{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.container{
	display: flex;
	gap: 10px;
}

